<div *ngIf="username" id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
  <!-- ============================================================== -->
  <!-- Topbar header -->
  <!-- ============================================================== -->
  <header class="topbar" data-navbarbg="skin5">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
      <div class="navbar-header" data-logobg="skin6">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <a class="navbar-brand" routerLink="/dashboard">
          <!-- Logo icon -->
          <b class="logo-icon" style="color: #1d1d1d; margin-left: auto">
            <img src="https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/512/Fit-icon.png" width="30" height="30" class="d-inline-block align-top" alt="Logo Python" loading="lazy">
            <!-- Dark Logo icon -->
            Health App
          </b>
          <!--End Logo icon -->
        </a>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- toggle and nav items -->
        <!-- ============================================================== -->
        <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
           href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">

        <!-- ============================================================== -->
        <!-- Right side toggle and nav items -->
        <!-- ============================================================== -->
        <ul class="navbar-nav ms-auto d-flex align-items-center">
          <!-- ============================================================== -->
          <!-- Search -->
          <!-- ============================================================== -->
          <li class=" in">
            <form role="search" class="app-search d-none d-md-block me-3">
              <input type="text" placeholder="Search..." class="form-control mt-0">
              <a href="" class="active">
                <i class="fa fa-search"></i>
              </a>
            </form>
          </li>
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
          <li>
            <a class="profile-pic" href="#">
              <img src="https://therichpost.com/wp-content/uploads/2021/03/avatar2.png" alt="user-img" width="36"
                   class="img-circle"><span class="text-white font-medium">{{ username[0].toUpperCase() + username.substr(1, username.length) }}</span></a>
          </li>
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- ============================================================== -->
  <!-- End Topbar header -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Left Sidebar -->
  <!-- ============================================================== -->
  <aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <!-- User Profile-->
          <li class="sidebar-item pt-2">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/dashboard"
               aria-expanded="false">
              <i class="far fa-clock" aria-hidden="true"></i>
              <span class="hide-menu">Dashboard</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#"
               aria-expanded="false">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span class="hide-menu">Mon alimentation</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/programmesportifsliste"
               aria-expanded="false">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span class="hide-menu">Mes programmes de sport</span>
            </a>
          </li>
          <li class="sidebar-item" *ngIf="isAdmin()">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/feedbacksadmin"
               aria-expanded="false">
              <i class="fa fa-table" aria-hidden="true"></i>
              <span class="hide-menu">Feedbacks</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/logout"
               aria-expanded="false">
              <i class="fa fa-table" aria-hidden="true"></i>
              <span class="hide-menu">Se déconnecter</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar -->
  <!-- ============================================================== -->
</div>
