<div class="sidenav">
  <div class="login-main-text">
     <h2>HealthDiary<br> Connexion</h2>
     <p>Connecter-vous ou inscrivez-vous pour accéder à l'application. TEST</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
     <div class="login-form">
        <form #myform = "ngForm" (ngSubmit) = "onSubmitForm(myform)">
           <div class="form-group">
              <label>Nom d'utilisateur</label>
              <input type="text" class="form-control" name="username" id="username" placeholder="Nom d'utilisateur" ngModel>
           </div>
           <div class="form-group">
              <label>Mot de passe </label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe" ngModel>
           </div>
           <button type="submit" class="btn btn-black">Connexion</button>
           <button class="btn btn-secondary" (click)="register()">Inscription</button>
        </form>
     </div>
  </div>
</div>
