<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
  <div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Liste de mes programmes</h4>
        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
          <a routerLink="../createprogrammessportifs"><button type="button" class="btn btn-primary" style="margin-bottom : 10px;">Créer un nouveau programme</button></a>
          <div style="height: 405px;">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Créer par</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Description</th>
                  <th scope="col">Niveau</th>
                  <th scope="col">Détails</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let onesportsprogram of sportsprogram">
                    <td>{{ onesportsprogram.creator }}</td>
                    <td>{{ onesportsprogram.title }}</td>
                    <td>{{ onesportsprogram.description }}</td>
                    <td>{{ onesportsprogram.level }}</td>
                    <td><a routerLink="../programmesportifsdetails/{{onesportsprogram.id_sports_program}}"><button class="btn btn btn-primary">Détails</button></a></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
