#topHTML{
  background-color: #0A1647;
  border-top: 2px solid #2B6DEF;
}

#titreHTML{
  color: aliceblue;
}

#buttonAjout{
  background-color: #458FF4;
  border: 1px solid black;
}

#divBody #tableHistorique{
  border-top: 2px solid #2B6DEF;
  float:left;
  margin-right:2% ;
}

#buttonDetail{
  background-color: #458FF4;
  border: 1px solid black;
}

#buttonModification{
  background-color: #74FCBF;
  border: 1px solid black;

}

#labelDateDebut{
  margin-right: 1%;
  margin-left: 2%;
}
#labelDateFin{
  margin-left: 2%;
  margin-right: 1%;
}
#filterButton{
  margin-left: 3%;
}

#divBody #partDeux{
  float:right;
}
#resultEmpty{
  margin-left: 38%;
}
#imgLegende{
  width: 30px;
}
#avgWater{
  margin-left: 1%;
}
