<div class="back">
  <div class="center">
    <div class="form">
      <div class="text">
        <div>
          <p class="col-9">Liste des suggestion/bug</p>
          <!-- <p>{{ users[0] }}</p> -->
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Bug/Suggestion</th>
              <th scope="col">Envoyé le</th>
              <th scope="col">Utilisateur</th>
              <th scope="col">Email</th>
              <th scope="col">Titre</th>
              <th scope="col">Etat</th>
              <th scope="col">Détails</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>Bug</td>
                <td>02/03/2021 22:42</td>
                <td>Antoine BOUARD</td>
                <td>antoinebouardain@gmail.com</td>
                <td>Bug suivi eau</td>
                <td>Ouvert</td>
                <td><a routerLink="../suggestionbugtrackeradmindetails"><button class="btn btn btn-primary">Détails</button></a></td>
              </tr>
              <tr>
                <td>Suggestion</td>
                <td>02/03/2021 22:44</td>
                <td>Antoine BOUARD</td>
                <td>antoinebouardain@gmail.com</td>
                <td>Forum</td>
                <td>En cours de traitement</td>
                <td><a routerLink="../suggestionbugtrackeradmindetails"><button class="btn btn btn-primary">Détails</button></a></td>
              </tr>
              <tr>
                <td>Bug</td>
                <td>02/03/2021 22:45</td>
                <td></td>
                <td></td>
                <td>Bug connexion</td>
                <td>Fermé</td>
                <td><a routerLink="../suggestionbugtrackeradmindetails"><button class="btn btn btn-primary">Détails</button></a></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
