<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
  <div class="page-wrapper">
    <div class="back">
      <div class="center">
        <div class="form">
          <div class="text">
            <div>
              <p class="col-9">Liste des suggestion/bug</p>
              <!-- <p>{{ users[0] }}</p> -->
            </div>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Bug/Suggestion</th>
                  <th scope="col">Envoyé le</th>
                  <th scope="col">Utilisateur</th>
                  <th scope="col">Email</th>
                  <th scope="col">Titre</th>
                  <th scope="col">Etat</th>
                  <th scope="col">Détails</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let feedback of feedbacks ">
                  <td>{{ feedback.nature }}</td>
                  <td>{{ feedback.date }}</td>
                  <td>{{ feedback.username }}</td>
                  <td>{{ feedback.mail }}</td>
                  <td>{{ feedback.title }}</td>
                  <td>{{ feedback.etat }}</td>
                  <td><a routerLink="../feedbacksadmindetails/{{feedback.id}}"><button class="btn btn btn-primary">Détails</button></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
