<app-navbar></app-navbar>
<div class="container">
  <h4>Nom du programme</h4>
  <div class="row">
    <a routerLink="../programmesportifsliste" class="col-2 mt-5 ml-1">Retour</a>
  </div>
  <!-- TODO : Afficher seulement si l'utilisateur connecté possède le programme -->
  <a routerLink="../updateprogrammesportifs"><button type="button" class="btn btn-primary">Modifier le programme</button></a>
  <div class="row mt-5">
    <p class="col-9">Liste des exercices du programme : </p>
    <!-- <p>{{ users[0] }}</p> -->
  </div>
  <!-- This form by post can update values of ticket -->
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="https://s2.qwant.com/thumbr/0x0/7/e/01ccb256a78030b9740529974d042699d142408705e3f2ae80c8effa81022f/exercice-musculation-pompe.jpg?u=http%3A%2F%2Fentrainement-sportif.fr%2Fexercice-musculation-pompe.jpg&q=0&b=1&p=0&a=1" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pompes</h5>
            <p class="card-text">
              12 répétitions <br>
              4 séries <br>
              1 min de repos entre les séries <br>
              3 min de repos entre les exercices <br>
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="https://s2.qwant.com/thumbr/0x0/7/e/01ccb256a78030b9740529974d042699d142408705e3f2ae80c8effa81022f/exercice-musculation-pompe.jpg?u=http%3A%2F%2Fentrainement-sportif.fr%2Fexercice-musculation-pompe.jpg&q=0&b=1&p=0&a=1" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pompes</h5>
            <p class="card-text">
              12 répétitions <br>
              4 séries <br>
              1 min de repos entre les séries <br>
              3 min de repos entre les exercices <br>
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="https://s2.qwant.com/thumbr/0x0/7/e/01ccb256a78030b9740529974d042699d142408705e3f2ae80c8effa81022f/exercice-musculation-pompe.jpg?u=http%3A%2F%2Fentrainement-sportif.fr%2Fexercice-musculation-pompe.jpg&q=0&b=1&p=0&a=1" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pompes</h5>
            <p class="card-text">
            12 répétitions <br>
            4 séries <br>
            1 min de repos entre les séries <br>
            3 min de repos entre les exercices <br>
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
