<!-- ============================================================== -->
<!-- Main wrapper -->
<!-- ============================================================== -->
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb -->
    <!-- ============================================================== -->
    <div class="col-sm-8 col-sm-offset-2">
      <!-- [formGroup]="userForm" permet de lier le formulaire a l'object créé dans le .ts / ngSubmit permet de lancer une méthode quand le bouton submit sera cliqué-->
      <form *ngIf="weightModifForm" [formGroup]="weightModifForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
          <label for="userWater">Votre poids le {{this.wellBeing.date | date: 'd/M/yy'}} est de {{this.wellBeing.weight}} <strong>kg</strong></label>
          <input type="number" class="form-control" id="userWater" formControlName="userWeight" placeholder="ancienne valeur : {{this.wellBeing.weight}} Kg">
        </div>
        <!-- le [disabled] permet ici de rendre le bouton non cliquable tant que formulaire ne correspond pas a la demande faite dans la méthode initForms() dans le .ts-->
        <button class="btn btn-primary" type="submit" [disabled]="weightModifForm.invalid">Modifier</button>
        <button class="btn btn-primary" type="submit" routerLink="/historiqueWeight">Retour</button>
      </form>
    </div>
  </div>
</div>
